@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&family=Quicksand:wght@300&display=swap');

:root {
    --orange: #ff6a00;
}

body{
    font-family: 'Nunito ', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection {
    background: var(--orange);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding:2rem 0;
}

.heading span{
    font-size: 3.5rem;
    background: rgba(255, 165, 255, 0.2);
    color: var(--orange);
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading span.space{
    background: none;
}


.btn {
    display: inline-block;
    margin-top: 1rem;
    background: #ff6a00;
    color: #fff;
    padding: 0.8rem 3rem;
    border: 0.2rem solid var(--orange);
    cursor: pointer;
    font-size: 1.5rem;
    text-transform: capitalize;
    text-decoration: none;
}

.btn:hover {
    background: #ff6a00;
    color: var(--orange);
}

/* HEADER MA BHAYEKO NAVIGATION BAR,LOGO,SEARCH-BAR-CONTAINER
    AND ICONS KO LAGI */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem 9%;
}

header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

header .logo span {
    color: var(--orange);
} 

/* .mixed-case::first-letter { 
    text-transform: uppercase;
} */
 
header .navbar a {
    color: #fff;
    font-size: 1.5rem;
    margin: 0.8rem;
    text-decoration: none;
}

header .navbar a:hover {
    color: var(--orange);
}

 header .icons i {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-right: 0.5rem;
}

header .icons i:hover {
    color: var(--orange);
}

header .search-bar-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1.5rem 2rem;
    background: rgba(0,0,0,);
    border-top: 0rem solid rgba(255, 255, 255, 0.2);
    display: none;
    align-items: center;
    z-index: 1001; 
}

header .search-bar-container.active{ 
    display: block;
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
} 

header .search-bar-container #search-bar {
     width: 95%;
     padding: 0.5rem;
     text-transform: none;
     color: #000000;
     font-size: 1rem;
     border-radius: .5rem;
}

header .search-bar-container label {
    color: #ffffff;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 1.5rem;
}

header .search-bar-container label:hover {
     color: var(--orange);
}

body {
    height: 200rem;
} 

/* LOGIN FORM KO LAGI */
.login-form-container { 
    position: fixed;
    top: -120%;
    left: 0;
    z-index: 100000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0,0,0,.7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container.active {
     top: 0;
}

.login-form-container form {
    margin: 2rem;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    background: rgba(0,0,0,);
    width: 50rem;
    filter: blur(0.3px); 
    box-shadow: 0 2rem 2rem #ff6a00;
}

.login-form-container form h3 {
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 0.5rem;
}

.login-form-container form .box {
    width: 95%;
    padding: 1rem;
    font-size: 1.5rem;
    color: #333;
    margin: .1rem 0;
    border: .1rem solid rgba(0,0,0,.3);
    text-transform: none; 
}

.login-form-container form .box:focus {
    border-color: var(--orange);
    ;
}

.login-form-container form #remember {
    margin: 1rem 0;
}

.login-form-container form label {
    font-size: 1.5rem;
    color: #fff;
}

.login-form-container form .btn {
    display: block;
    width: 35%;
}

.login-form-container form p {
    padding: 0rem 0;
    font-size: 1.5rem;
    color: #fff;
}

.login-form-container form p a{
    color: var(--orange);
}

.login-form-container form p a:hover{
    color: #fff;
    text-decoration: underline;
} 

.login-form-container #form-close{
    position: absolute;
    top: 1rem;
    right: 10rem;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
} 


/* MENU BAR KO LAGI */
#menu-bar{
    color: #fff;
    /* border: .2rem solid #fff; */
    border-radius: .5rem;
    font-size: 2rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    position: relative;
    z-index: 0;
}

.home .content{
    text-align: center;  
}

.home .content h3{
    font-size: 4.5rem;
    color:#fff;
    text-transform: uppercase;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.1);
}

.home .content p{
    font-size: 2.4rem;
    color: #fff;
    padding: .5rem 0;
}

.home .content a{
    text-decoration: none;
}

.home .video-container video{
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.home .controls{
    padding: 1rem;
    border-radius: 5rem;
    background: rgba(red, green, blue, alpha);
    position: relative;
    top: 10rem;
}

.home .controls .vid-btn{
    height: 2rem;
    width: 2rem;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
    margin: 0 .2rem;
}
.home .controls .vid-btn.active{
    background:var(--orange);
}

/* book garne box ko lagi */
.book .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.book .row .backgrund-image{
    flex: 1 1 60rem;
    background-size: cover;
    position: relative; 
}

.book .row .background-image img{
    width: 150%;
    height: 480px;
    /* top: 0; left: 0; */
    /* z-index: -1; */
}

.book .row .booking-form{
    position: absolute;
    top: 185%;
    left: 55%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    padding: 1rem;
    box-shadow: 0 1rem 2rem #ff6a00;
    border-radius: .5rem;
    background-color:rgba(0,0,0,0);
    width: 50%;
    filter: blur(0.1px); 
}

.book .row .booking-form .inputBox{
    padding: .5rem 0;
}

.book .row .booking-form .inputBox input{
    width: 80%;
    padding: 0.5rem;
    border: .1rem solid rgba(0,0,0,.1);
    font-size: 1rem;
    color: #333;
}

.book .row .booking-form .inputBox h3{
    font-size: 2rem;
    padding: 0.7rem 0;
    color: #fff; 
    margin: 0;
}

/* media query */
@media (max-width: 1200px){
    html {
        font-size: 55%;    
    }
}

@media (max-width:991px){
    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:768px){
    #menu-bar{
      display: initial;  
    }

    header .navbar{
        position: absolute;
        top: 100%; right: 0; left: 0;
        background: #333;
        border-top: .1rem solid rgba(red, green, blue, alpha);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 1.5rem 0;
        background: #222;
    }
} 

@media (max-width: 450px){
    html {
        font-size: 50%;    
    }

    .heading span{
        font-size: 2.5rem;    
    }
}

/* SERVICES KO LAGI */
.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding: 1rem;
    text-align: center;
}

.services .box-container .box i{
    font-size:5rem;
    color:var(--orange);
    padding:1rem;
}

.services .box-container .box h3{
    font-size: 2.5rem;
    color: #666;
    padding: 0.5rem 0;
}

.services .box-container .box p{
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.services .box-container .box .box:hover{
    box-shadow: 0 1rem 2rem rgba(0,0,0,.7);
}
 
/* GALLERY KO LAGI */
.gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border: .5rem solid rgba(0,0,0,0);
    border-radius: .5rem;
    flex: 1 1 30rem;
    height: 20rem;
    position: relative;
}

.gallery .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .box-container .box .content{
    position: absolute;
    top: -100; left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background: rgba(20, 18, 18, 0.7);
    padding: 2rem;
    padding-top: 5rem;
}

.gallery .box-container .box:hover .content{
    top:0;
    filter: blur(0.2px);
}

.gallery .box-container .box .content p{
    font-size: 1.5em;
    color: #fff;
    padding: 0.5rem;
}

.gallery .box-container .box .content h3{
    font-size: 2rem;
    color:#fff;
    padding: .5rem 0;
    text-transform:uppercase;
}

/* REVIEW KO LAGI */
.review .review-slider{
    padding-bottom: 2rem;
}

.review .box{
    padding: 2rem;
    text-align: center;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border-radius: .5rem;
}

.review .box img{
    height: 13rem;
    width: 13rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
}

.review .box h3{
    color: #333;
    font-size: 2.5rem;
}

.review .box p{
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}

.review .box .stars i {
    color: var(--orange);
    font-size: 1.7rem;
}

/* contact section ko lagi  */
/* .contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}
.contact .row .image{
    flex:1  1 35rem;
}
.contact .row .image img{
    width: 200%;
    height: 400px;
}
.contact .row form{
    flex: 1.5rem;
    padding: 2rem;
    box-shadow: 0 1rem 2 rem rgba(0,0,0,.1);
    border-radius: .5rem;
}
.contact .row form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .row form .inputBox input, .contact .row form textarea{
    width: 40%;
    margin: 1rem 0;
    padding: 1rem;
    font-size: 1.7rem;
    color: #333;
    background: #f7f7f7;
    text-transform: none;
}
.contact .row form textarea{
    height: 15rem;
    resize: none;
    width: 100%;

} */
